DirectoryIndex index.php
Options -Indexes

# Disable ModSecurity v1 if blocking POST requests
<IfModule mod_security.c>
  SecFilterEngine Off
  SecFilterScanPOST Off
</IfModule>

# Disable ModSecurity v2 if blocking POST requests
<IfModule mod_security2.c>
  SecRuleEngine Off
</IfModule>
